.showcase {
  .showcase-text {
    padding: 2.5rem;
  }
  .showcase-img {
    min-height: 20rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 5rem;
    }
    .showcase-img {
      min-height: 30rem;
    }
  }
}
